#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow: hidden;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/elegant-white-texture-background_23-2148431731.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: 100vw 100vh ;
}

.container {
    min-width: 90vw;
    max-height: 90vh;
    margin: 10vh 0 0 0 ;
    background: #3c30a6;
    border-radius: 20px;
}

.inner-container {
    display: flex;
}

main {
    background-color: white;
    border-radius: 25px;
    height: 75vh;
    width: 90vw;

    padding: 1rem;
    margin: 1rem;
    margin-left: 0;

    display: flex;
}
