.all {
    font-size: 18px;
    color: #fd3899;
}

.activity-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background: #f2f3fb;
    border: none;
}

button:hover, button:focus {
    outline: none;
  }

li.tasks {
    border: 2px solid #f2f3fb;
    background: #f2f3fb;
    border-radius: 35px;
    padding: 2rem;
    margin: 0.8rem;
    height: 0.7rem;
    
    display: flex;
    align-items: center;
    
}

li.tasks:hover .activity-btn{
    background: white;
}
li.tasks:hover{
    background: white;
}

.recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.recent-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1rem;
}
ul.tasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper_inner {
    min-width: 50%;
    margin-left: 0.5rem;
    margin: 0.7rem 0rem 0rem 0.7rem; 
}

